/*general*/
body{
	background-image: url("https://stmed.net/sites/default/files/sailor-moon-wallpapers-26081-9017656.jpg");
	background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

/*header*/
.title{
	font-weight: bold;
	color: #F7DFF1;
	text-align: end;
	margin-right: 7%;
}

/*text*/
h4{
	color: #F7DFF1;
	text-align: end;
	margin-right: 5%;
}

/*questions and responses*/
.quiz{
	color: #F7DFF1;
	background-color: whitesmoke;
}


.form-group{
	color: #F7DFF1;
	text-align: end;
	margin-right: 5%;
}

.responses{
	color: #F7DFF1;
	text-align: end;
	width: 30%;
}


#content{
	color: #F7DFF1;
	text-align: end;
	margin-right: 5%;
}

#submit-div{
	color: #F7DFF1;
	text-align: end;
	margin-right: 5%;
}

/*result images*/
#img{
	height: 300px;
	width: 300px;
}